version 5.189.1
source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none
framework: netstandard2.0

nuget FSharp.Core ~> 4.5.0
nuget Microsoft.AspNetCore.Blazor.Build ~> 0.7.0
clitool Microsoft.AspNetCore.Blazor.Cli ~> 0.7.0
nuget Bolero
nuget Bolero.Build

# Force <2.2 to prevent this issue: https://github.com/aspnet/Razor/issues/2553
nuget Microsoft.AspNetCore.Razor.Design ~> 2.1.0
