# Paket artifacts
paket-files/

## Ignore Paket install files, but not bootstrap files
.paket/*
!.paket/paket.bootstrapper.proj
!.paket/paket.bootstrapper.props
!.paket/Paket.Restore.targets
!.paket/debug.targets

# Build artifacts
bin/
obj/

# IDE artifacts
.vs/
*.user
