source https://api.nuget.org/v3/index.json
//#if (nightly)
source https://nuget.pkg.github.com/fsbolero/index.json
//#endif
framework: net8.0
storage: none

nuget FSharp.Core content: none
nuget Bolero BOLERO_PAKET_VERSION
nuget Bolero.Build BOLERO_PAKET_VERSION
//#if (hotreload_actual)
nuget Bolero.HotReload BOLERO_PAKET_VERSION
nuget Bolero.HotReload.Server BOLERO_PAKET_VERSION
//#endif
//#if (server)
nuget Bolero.Server BOLERO_PAKET_VERSION
nuget Microsoft.AspNetCore.Components.WebAssembly.Server >= 8.0.0
//#else
nuget System.Net.Http.Json >= 8.0.0
//#endif
nuget Microsoft.AspNetCore.Components.WebAssembly >= 8.0.0
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer >= 8.0.0
