source https://api.nuget.org/v3/index.json
//#if (nightly)
source https://ci.appveyor.com/nuget/bolero
source https://ci.appveyor.com/nuget/bolero.templating.hotreload
//#endif
framework: net5.0
storage: none
